In [1]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/20230531_final_data.csv의 사본')

In [2]:
df.head()

,Unnamed: 0,건물면적(㎡),층,위도,경도,세대수,최고층,용적률,건폐율,min_dist_IC,...,interest_rate,한국(KOSPI),no_subway,yes_subway,hyper_yes_subway,난방_HT001,현관구조_계단식,Major_Builder,건축년도_elapsed_days,물건금액(만원)
0,0,84.58,14,37.474905,127.031343,794,15,198,16,1079.132991,...,2.5,2051.0,0,0,0,0,1,0,7304,55000
1,1,84.88,15,37.474905,127.031343,794,15,198,16,1079.132991,...,2.5,2051.0,0,0,0,0,1,0,7293,61000
2,2,73.15,12,37.474905,127.031343,794,15,198,16,1079.132991,...,2.5,2051.0,0,0,0,0,1,0,7290,52500
3,3,84.58,9,37.474905,127.031343,794,15,198,16,1079.132991,...,2.5,2051.0,0,0,0,0,1,0,7287,62000
4,4,84.88,9,37.474905,127.031343,794,15,198,16,1079.132991,...,2.5,2051.0,0,0,0,0,1,0,7261,63500

In [3]:
df.columns

Index(['Unnamed: 0', '건물면적(㎡)', '층', '위도', '경도', '세대수', '최고층', '용적률', '건폐율',
       'min_dist_IC', 'min_dist_bus', 'min_dist_hos',
       '1000_public_transport_count', '500_univ_count', 'min_dist_elementary',
       '세대 당 주차대수', 'min_dist_mart', '1000_starbucks_count',
       'min_dist_convenience', '서울시인구_동별_계', '총유동인구(서울거주)', '총유동인구(서울비거주)',
       '금융기관', 'GDP_Person', 'economic_growth', 'instruction_rate',
       'interest_rate', '한국(KOSPI)', 'no_subway', 'yes_subway',
       'hyper_yes_subway', '난방_HT001', '현관구조_계단식', 'Major_Builder',
       '건축년도_elapsed_days', '물건금액(만원)'],
      dtype='object')

In [21]:
from sklearn.model_selection import train_test_split
x = df[['건물면적(㎡)', '층', '세대수', '최고층', '용적률', '건폐율', '위도', '경도',
       'min_dist_IC', 'min_dist_bus', 'min_dist_hos',
       '1000_public_transport_count', '500_univ_count', 'min_dist_elementary',
       '세대 당 주차대수', 'min_dist_mart', '1000_starbucks_count',
       'min_dist_convenience', '서울시인구_동별_계', '총유동인구(서울거주)', '총유동인구(서울비거주)',
       '금융기관', 'GDP_Person', 'economic_growth', 'instruction_rate',
       'interest_rate', '한국(KOSPI)', 'no_subway', 'yes_subway',
       'hyper_yes_subway', '난방_HT001', '현관구조_계단식', 'Major_Builder',
       '건축년도_elapsed_days']]
y = df['물건금액(만원)']/10000
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state = 1)

In [22]:
import pandas as pd
import statsmodels.api as sm
from sklearn import datasets

In [23]:
# 상수항 추가
x = sm.add_constant(x)

# 다중회귀분석 모델 피팅
model = sm.OLS(y, x)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               물건금액(만원)   R-squared:                       0.654
Model:                            OLS   Adj. R-squared:                  0.654
Method:                 Least Squares   F-statistic:                 4.454e+04
Date:                Thu, 01 Jun 2023   Prob (F-statistic):               0.00
Time:                        11:03:09   Log-Likelihood:            -2.0338e+06
No. Observations:              800052   AIC:                         4.068e+06
Df Residuals:                  800017   BIC:                         4.068e+06
Df Model:                          34
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                         -75.4351      5.743    -13.134      0.000     -86.692     -64.178
건물면적(㎡)                         0.0780      0.000    549.875      0.000       0.078       0.078
층                               0.0313      0.001     49.375      0.000       0.030       0.033
세대수                          8.447e-05   3.89e-06     21.693      0.000    7.68e-05    9.21e-05
최고층                             0.0823      0.001    104.870      0.000       0.081       0.084
용적률                            -0.0042   4.21e-05    -99.557      0.000      -0.004      -0.004
건폐율                            -0.0024      0.000     -5.465      0.000      -0.003      -0.002
위도                            -13.8456      0.086   -161.374      0.000     -14.014     -13.677
경도                              4.5419      0.050     90.838      0.000       4.444       4.640
min_dist_IC                    -0.0001   1.97e-06    -56.372      0.000      -0.000      -0.000
min_dist_bus                    0.0049   5.48e-05     89.495      0.000       0.005       0.005
min_dist_hos                    0.0003    4.9e-06     54.347      0.000       0.000       0.000
1000_public_transport_count     0.6941      0.010     69.675      0.000       0.675       0.714
500_univ_count                 -0.4740      0.014    -34.139      0.000      -0.501      -0.447
min_dist_elementary          8.276e-05   2.24e-05      3.697      0.000    3.89e-05       0.000
세대 당 주차대수                       0.5837      0.009     63.910      0.000       0.566       0.602
min_dist_mart                   0.0003   8.85e-06     32.681      0.000       0.000       0.000
1000_starbucks_count            0.1959      0.001    175.607      0.000       0.194       0.198
min_dist_convenience            0.0018   3.57e-05     51.101      0.000       0.002       0.002
서울시인구_동별_계                  -2.098e-05   4.18e-07    -50.215      0.000   -2.18e-05   -2.02e-05
총유동인구(서울거주)                     0.0012   4.21e-05     28.412      0.000       0.001       0.001
총유동인구(서울비거주)                    0.0010      0.000      5.213      0.000       0.001       0.001
금융기관                           -0.0166      0.001    -33.109      0.000      -0.018      -0.016
GDP_Person                      0.0001   1.97e-06     75.765      0.000       0.000       0.000
economic_growth                -0.0599      0.003    -20.307      0.000      -0.066      -0.054
instruction_rate             3.624e-08   1.65e-10    219.624      0.000    3.59e-08    3.66e-08
interest_rate                   1.1890      0.006    184.265      0.000       1.176       1.202
한국(KOSPI)                       0.0027   1.56e-05    171.490      0.000       0.003       0.003
no_subway                      -0.7426      0.021    -35.265      0.000      -0.784      -0.701
yes_subway                      0.0056      0.008      0.733      0.463      -0.009       0.021
hyper_yes_subway                0.2441      0.014     17.677      0.000       0.217       0.271
난방_HT001                       -1.5907      0.009   -172.128      0.000      -1.609      -1.573
현관구조_계단식                        0.0654      0.008      7.767      0.000       0.049       0.082
Major_Builder                   0.4620      0.009     50.818      0.000       0.444       0.480
건축년도_elapsed_days           -1.494e-05   1.35e-06    -11.063      0.000   -1.76e-05   -1.23e-05
==============================================================================
Omnibus:                   789324.815   Durbin-Watson:                   0.276
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        127366378.764
Skew:                           4.449   Prob(JB):                         0.00
Kurtosis:                      64.168   Cond. No.                     2.35e+11
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.35e+11. This might indicate that there are
strong multicollinearity or other numerical problems.

In [24]:
from sklearn.linear_model import LinearRegression
import numpy as np
reg=LinearRegression()
reg.fit(x,y)
yp=reg.predict(x)
resid=y-yp
rss=np.sum(resid**2)
MSE=rss/(results.nobs)
MSE

9.45305331235115

In [54]:
MSE=rss/(results.nobs)
MSE

9.45302968125389

In [25]:
yp = pd.DataFrame(yp)

In [26]:
yp

                0
0        5.919171
1        5.974026
2        4.965009
3        5.763006
4        5.786801
...           ...
800047  18.294763
800048  14.314614
800049  14.314614
800050  14.314614
800051  14.314614

[800052 rows x 1 columns]

In [27]:
yp.to_csv('결과.csv', encoding = 'utf-8-sig')

In [143]:
np.sum(resid**2)/(results.nobs-2)

9.767077404445203

In [28]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [29]:
# 브라우저에서 바로 그려지도록 
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# Colab 의 한글 폰트 설정
plt.rc('font', family='NanumBarunGothic') 

# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

In [30]:
from sklearn.model_selection import train_test_split
x = x[['건물면적(㎡)', '층', '세대수', '위도', '경도', '최고층', '용적률', '건폐율',
       'min_dist_IC', 'min_dist_bus', 'min_dist_hos',
       '1000_public_transport_count', '500_univ_count', 'min_dist_elementary',
       '세대 당 주차대수', 'min_dist_mart', '1000_starbucks_count',
       'min_dist_convenience', '서울시인구_동별_계', '총유동인구(서울거주)', 
       '금융기관', 'GDP_Person', 'economic_growth', 'instruction_rate',
       'interest_rate', '한국(KOSPI)', 'no_subway', 
       'hyper_yes_subway', '난방_HT001', '현관구조_계단식', 'Major_Builder',
       '건축년도_elapsed_days']]
y = df['물건금액(만원)']/10000
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state = 1)

In [31]:
x = x.astype('float32')

In [32]:
y = y.astype('float32')

In [33]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 1)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(640041, 32) (640041,) (160011, 32) (160011,)

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
model = RandomForestRegressor(n_estimators = 100, max_depth = 11, max_features = 'log2')
model.fit(X_train, y_train)
some_predicted = model.predict(x_test)
mse = mean_squared_error(some_predicted, y_test)
print('평균제곱근오차', mse)

평균제곱근오차 1.7106397500488855

In [35]:
y_test

247480    3.450
775577    2.300
679462    4.270
110064    2.700
339982    4.365
          ...
344944    5.600
155460    3.270
301516    2.450
697371    5.350
223746    6.500
Name: 물건금액(만원), Length: 160011, dtype: float32

In [36]:
some_predicted

array([3.59362163, 2.32866941, 5.57321772, ..., 2.38321506, 5.74999536,
       5.05404793])

In [37]:
y_test_result = pd.DataFrame(y_test)

In [38]:
y_test_result['예측금액'] = some_predicted

In [39]:
y_test_result.to_csv('랜덤포레스트회귀(100,11)_전처리.csv', encoding = 'utf-8-sig')

In [40]:
y_test_result

        물건금액(만원)      예측금액
247480     3.450  3.593622
775577     2.300  2.328669
679462     4.270  5.573218
110064     2.700  2.536000
339982     4.365  4.562200
...          ...       ...
344944     5.600  3.593622
155460     3.270  5.013389
301516     2.450  2.383215
697371     5.350  5.749995
223746     6.500  5.054048

[160011 rows x 2 columns]

In [41]:
from sklearn.model_selection import train_test_split
x = x[['건물면적(㎡)', '층', '세대수', '위도', '경도', '최고층', '용적률', '건폐율',
       'min_dist_IC', 'min_dist_bus', 'min_dist_hos',
       '1000_public_transport_count', '500_univ_count', 'min_dist_elementary',
       '세대 당 주차대수', 'min_dist_mart', '1000_starbucks_count',
       'min_dist_convenience', '서울시인구_동별_계', '총유동인구(서울거주)', 
       '금융기관', 'GDP_Person', 'economic_growth', 'instruction_rate',
       'interest_rate', '한국(KOSPI)', 'no_subway', 
       'hyper_yes_subway', '난방_HT001', '현관구조_계단식', 'Major_Builder',
       '건축년도_elapsed_days']]
y = df['물건금액(만원)']/10000
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, test_size=0.2, random_state = 1)

In [42]:
x = x.astype('float32')

In [43]:
y = y.astype('float32')

In [44]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 1)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(640041, 32) (640041,) (160011, 32) (160011,)

In [45]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
model = RandomForestRegressor(n_estimators = 100, max_depth = 11, max_features = 'log2')
model.fit(X_train, y_train)
some_predicted = model.predict(x_test)
mse = mean_squared_error(some_predicted, y_test)
print('평균제곱근오차', mse)

평균제곱근오차 1.9344054185610227

In [46]:
y_test

247480    3.450
775577    2.300
679462    4.270
110064    2.700
339982    4.365
          ...
344944    5.600
155460    3.270
301516    2.450
697371    5.350
223746    6.500
Name: 물건금액(만원), Length: 160011, dtype: float32

In [47]:
some_predicted

array([3.51008225, 3.54450974, 6.08727153, ..., 2.56896949, 6.29520242,
       4.95732294])

In [48]:
y_test_result = pd.DataFrame(y_test)

In [49]:
y_test_result['예측금액'] = some_predicted

In [51]:
y_test_result.to_csv('랜덤포레스트회귀(100,11,log2)_전처리.csv', encoding = 'utf-8-sig')

In [53]:
np.sqrt(mse)

1.3908290400193055